extends layout

block content
  .did
    .burger-builder
      img(src="../images/burger-builder.png")
      h1 Burger Builder
      a(href="https://5d7c8552f1e17b1d8141ac21--burger-builder-react-app.netlify.com/")
        button Go to app ➙
        
