extends layout

block content
  .main
    .me
      img(src="../images/me.jpg" alt="Caner Türkmen")
      .text
        h1 Caner Türkmen
        h2 Javascript Enthusiast
        h3 Computer Engineering Student
      .social
        a(href="https://www.linkedin.com/in/canerturkmen0/")
          i(class="fab fa-linkedin-in")
        a(href="https://github.com/canerturkmen0")
          i(class="fab fa-github")
        a(href="https://codepen.io/canerturkmen0")
          i(class="fab fa-codepen")
    .rightColumn
      .about
        p I am a 3rd-year student in Akdeniz University Computer Engineering Department. I have a huge enthusiasm for Javascript and also I'm very eager to work on cutting-edge web technologies. I am trying to learn and experience every possible technology to find out what I like to do and make correct decisions about my career. Recently, I'm working on React and NodeJS. 
      .buttons
        a(href='/did')
          button.did WHAT I DID ?
        //- button CONTACT
