doctype html
html
  head
    title= "Caner Türkmen"
    link(rel="icon" href="/images/icon.png")
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/devices.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Caner Türkmen - Javascript Enthusiast & Computer Engineering Student")
  body
    block content            
